# Dependabot configuration for automated dependency updates
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: 'devcontainers'
    directory: '/'
    schedule:
      interval: weekly

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: weekly
    groups:
      development:
        patterns:
          - '*eslint*'
          - '*prettier*'
          - '*typescript*'
          - '*vitest*'
      testing:
        patterns:
          - '@vitest/*'
          - 'vitest'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: weekly
